/* 
.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cvDownload {
    text-decoration: none;
    color: #3995f1;
    font-size: 2.2rem;
    cursor: pointer;
    display: inline-block;
    margin: 0.5rem 0 0 1rem;
}

.imgDownload {
    width: 1.4rem;
    filter: invert(1);
    color: #10101f;
}

.titleName {
    text-align: left;
    text-transform: capitalize;
    color: #3995f1;
    font-size: 2.2rem;
    font-family: serif, Arial, Helvetica, sans-serif;
    margin: .5rem 0 0 1rem;
    display: inline-block;
}

.menuNav {
    display: inline;
}

.menuUl {
    display: flex;
    list-style: none;
    margin-top: 0.5rem;
    padding: 0;
    float: right;
}

.menuItem {
    font-size: 1.2rem;
    /* margin: 0 10px; 
    margin-right: 1rem;
    padding: 10px;
    color: whitesmoke;
}

.menuItem:hover {
    border-bottom: 1px solid #3995f1;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
    color: #3995f1;
    font-weight: bold;
}

.menuItem a {
    color: whitesmoke;
    text-decoration: none;
}

.menuItem a:hover {
    color: #3995f1;
}

.presentingPortolio {
    margin-top: 7rem;
    display: flex;
    justify-content: space-evenly;
}

.WelcomeP {
    text-align: justify;
    font-size: 2rem;
    width: 50%;
    /* margin-left: 1rem; 
    align-content: space-evenly;
}

.specialP {
    color: #3995f1;
    text-wrap: nowrap;
}


.imagePhoto {
    width: 200px;
    border-radius: 3rem;
} */

* {
    padding: 0;
    margin: 0;
}

html {
    background: #272c31;
    color: whitesmoke;
}

body {
    background: #272c31 !important;
    color: whitesmoke;
}

@media only screen and (min-width: 992px) {

    .nav-link {
        position: relative;

    }

    .nav-link::after {
        content: '';
        opacity: 0;
        transition: all 0.2s;
        height: 2px;
        width: 100%;
        background-color: greenyellow;
        position: absolute;
        bottom: 0;
        left: 0
    }

    .nav-link:hover::after {
        opacity: 1;
    }
}


.imgPhoto {
    width: 30%;
    margin-top: 10%;
    border-radius: 3%;
}