/* 
.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cvDownload {
    text-decoration: none;
    color: #3995f1;
    font-size: 2.2rem;
    cursor: pointer;
    display: inline-block;
    margin: 0.5rem 0 0 1rem;
}

.imgDownload {
    width: 1.4rem;
    filter: invert(1);
    color: #10101f;
}

.titleName {
    text-align: left;
    text-transform: capitalize;
    color: #3995f1;
    font-size: 2.2rem;
    font-family: serif, Arial, Helvetica, sans-serif;
    margin: .5rem 0 0 1rem;
    display: inline-block;
}

.menuNav {
    display: inline;
}

.menuUl {
    display: flex;
    list-style: none;
    margin-top: 0.5rem;
    padding: 0;
    float: right;
}

.menuItem {
    font-size: 1.2rem;
    /* margin: 0 10px; 
    margin-right: 1rem;
    padding: 10px;
    color: whitesmoke;
}

.menuItem:hover {
    border-bottom: 1px solid #3995f1;
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
    color: #3995f1;
    font-weight: bold;
}

.menuItem a {
    color: whitesmoke;
    text-decoration: none;
}

.menuItem a:hover {
    color: #3995f1;
}

.presentingPortolio {
    margin-top: 7rem;
    display: flex;
    justify-content: space-evenly;
}

.WelcomeP {
    text-align: justify;
    font-size: 2rem;
    width: 50%;
    /* margin-left: 1rem; 
    align-content: space-evenly;
}

.specialP {
    color: #3995f1;
    text-wrap: nowrap;
}


.imagePhoto {
    width: 200px;
    border-radius: 3rem;
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    scroll-behavior: none;
    font-family: "Poppins", sans-serif;
    ;
    color: whitesmoke;
}

html {
    overflow-x: hidden;
}

body {
    background: #272c31 !important;
    color: whitesmoke;
}


@media only screen and (min-width: 992px) {

    .nav-link {
        position: relative;

    }

    .nav-link::after {
        content: '';
        opacity: 0;
        transition: all 0.2s;
        height: 2px;
        width: 100%;
        background-color: greenyellow;
        position: absolute;
        bottom: 0;
        left: 0;
        /* color: white; */
    }

    .nav-link:hover::after {
        opacity: 1;
    }
}


.imgPhoto {
    width: 50%;
    margin-top: 10%;
    border-radius: 3%;
}


.big-text {
    font-size: 2rem;
    font-weight: bold;
    color: whitesmoke;
    margin-right: 5rem;
}

.specialP {
    color: #3995f1 !important;
    text-wrap: nowrap;
}


.btnCustom {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
}

.btnCV {
    background-color: #007bff;
    margin-right: 1rem;
}

.btnCV:hover {
    background-color: #0056b3;
}

.btnContactMe {
    background-color: #dc3545;
    margin-left: .5rem;
}

.btnContactMe:hover {
    background-color: #c82333;
}